<h4><strong>2. Informações do Síndico</strong></h4>

<form>

  <div class="form-group row">
    <label for="nomeSindico" class="col-md-2 col-form-label">Nome Completo</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="nomeSindico" placeholder="Nome"  [(ngModel)]="sindico.nome" name="nome">
    </div>
  </div>

  <div class="form-group row">
    <label for="cpfSindico" class="col-md-2 col-form-label">CPF</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="cpfSindico" placeholder="XXX.XXX.XXX-XX" [(ngModel)]="sindico.cpf" name="cpf">
    </div>
  </div>


  <div class="form-group row">
    <label for="emailSindico" class="col-md-2 col-form-label">E-mail</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="emailSindico" [(ngModel)]="sindico.email" name="email">
    </div>
  </div>

  <div class="form-group row">
    <label for="repetirEmailSindico" class="col-md-2 col-form-label">E-mail (redigite)</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="repetirEmailSindico" >
    </div>
  </div>

  <div class="form-group row">
    <label for="telFixoSindico" class="col-md-2 col-form-label">Telefone Fixo</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="telFixoSindico" placeholder="(XX) XXXX-XXXX" [(ngModel)]="sindico.telfixo" name="telfixo">
    </div>
  </div>

  <div class="form-group row">
    <label for="celSindico" class="col-md-2 col-form-label">Celular</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="celSindico" placeholder="(XX) X XXXX-XXXX" [(ngModel)]="sindico.telcel" name="telcel">
    </div>
  </div>

  <button type="button" name="button" (click)="insertSindico()">Atualizar</button>

</form>
