<h4><strong>3. Informações das Empresas que atualmente prestam serviço ao Condomínio</strong></h4>

<form>

  <div *ngFor="let pergunta of perguntas">

    <div class="col-md-12">
      <h5><strong>{{ pergunta.descricao }}</strong></h5>
    </div>

    <div class="col-md-4">
      <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="sim"> Sim
        </label>
      <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="não"> Não
        </label>
    </div>

    <div class="form-group row">
      <label for="nomeEmpresa{{pergunta.tag}}" class="col-md-2 col-form-label">Nome da Empresa</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="nomeEmpresa{{pergunta.tag}}" placeholder="Nome">
      </div>
    </div>


    <div class="form-group row">
      <label for="cnpjEmpresa{{pergunta.tag}}" class="col-md-2 col-form-label">CNPJ</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="cnpjEmpresa{{pergunta.tag}}" placeholder="XX.XXX.XXX/XXXX-XX">
      </div>
    </div>

    <div class="form-group row">
      <label for="cvlrTotal{{pergunta.tag}}" class="col-md-2 col-form-label">Valor Mensal do Serviço (R$)</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="vlrTotal{{pergunta.tag}}">
      </div>
    </div>


    <strong>Há contrato assinado?</strong>


    <div class="col-md-2">
      <label class="radio-inline{{pergunta.tag}}">
          <input type="radio" name="radioContrato{{pergunta.tag}}" id="radioContrato{{pergunta.tag}}" value="sim"> Sim
        </label>
      <label class="radio-inline{{pergunta.tag}}">
          <input type="radio" name="radioContrato{{pergunta.tag}}" id="radioContrato2{{pergunta.tag}}" value="não"> Não
        </label>
    </div>

    <div class="col-md-6">

      <input type="file" [attr.multiple]="multiple ? true : null" (change)="upload()"  accept=".pdf">

    </div>

    <br>

    <div [hidden]="!pergunta.temArt">
      <div class="col-md-5">
        <strong>A empresa forneceu A.R.T., expedida pelo CREA-PE?</strong>
      </div>

      <div class="col-md-2">
        <label class="radio-inline">
            <input type="radio" name="radioArt" id="radioArt1" value="sim"> Sim
          </label>
        <label class="radio-inline">
            <input type="radio" name="radioArt" id="radioArt2" value="não"> Não
          </label>
      </div>

      <div class="col-md-6">
        <input id="input-1a" type="file" class="file" data-show-preview="false" accept=".pdf">
      </div>
    </div>


    <hr style="border-top: 1px solid #8c8b8b">
  </div>
</form>
