<br>
<app-instrucoes></app-instrucoes>
<br>
<app-dados-condominio></app-dados-condominio>
<hr>
<app-dados-sindico></app-dados-sindico>
<hr>
<app-dados-extras></app-dados-extras>
<button type="button" class="btn btn-warning btn-lg">Responder Formulário</button>
<router-outlet></router-outlet>
