<h4><strong>1. Informações do Condomínio</strong></h4>

<form>
  <div class="form-group row">
    <label for="senha" class="col-md-5 col-form-label">Digite a senha de acesso (ver no Termo de Intimação ao final) </label>
    <div class="col-md-4 input-group">
      <input id="senha" type="text" class="form-control" placeholder="Senha" aria-describedby="basic-addon1" #senhaInput>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="searchCondo(senhaInput.value)">Buscar</button>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <label for="cnpjCondo"  class="col-md-2 col-form-label">CNPJ do Condomínio</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="cnpjCondo" value="{{ dadosCondominio.cnpj }}" disabled>
    </div>
  </div>

  <div class="form-group row">
    <label for="cmcCondo"  class="col-md-2 col-form-label">Inscrição Municipal (CMC)</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="cmcCondo" value="{{ dadosCondominio.cmc | cmcMask }}"  disabled>
    </div>
  </div>

  <div class="form-group row">
    <label for="nomeCondo" class="col-md-2 col-form-label">Nome do Condomínio</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="nomeCondo" value="{{ dadosCondominio.nome }}"  disabled>
    </div>
  </div>

  <div class="form-group row">
    <label for="emailCondo" class="col-md-2 col-form-label">E-mail</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="emailCondo" [(ngModel)]="dadosCondominio.email" name="email" >
    </div>
  </div>

  <div class="form-group row">
    <label for="repetirEmailCondo" class="col-md-2 col-form-label">E-mail (redigite)</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="repetirEmailCondo">
    </div>
  </div>

  <div class="form-group row">
    <label for="telFixoCondo" class="col-md-2 col-form-label">Telefone Fixo</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="telFixoCondo" placeholder="(XX) XXXX-XXXX" [(ngModel)]="dadosCondominio.telfixo" name="telfixo" >
    </div>
  </div>

  <div class="form-group row">
    <label for="celCondo" class="col-md-2 col-form-label">Celular</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="celCondo" placeholder="(XX) X XXXX-XXXX" [(ngModel)]="dadosCondominio.telcel" name="telcel" >
    </div>
  </div>

  <button type="button" name="button" (click)="onSubmit()">Atualizar</button>
</form>
